Repository depromeet/street-drop-server, pull requests merged in 2023-10, with the labels that each got.

#371 :sparkles: feat(api, search): add emoji on swagger docs
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/controller/GeoController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemClaimController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemLikeController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notification/controller/NotificationController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserBlockController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/village/controller/VillageItemController.java
  backend/streetdrop-search/src/main/java/com/depromeet/apis/MusicController.java
Labels: 📝docs, 🥉d-2, 😺 API Server, 🔍Search Server

#374 :wrench: config: change issue template
  .github/ISSUE_TEMPLATE/bug_fix_issue_tempalte.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/main_issue_template.md
Labels: ⚙️config

#376 :wrench: config: create pull request template
  .github/workflows/pull_request_template.md
Labels: ⚙️config

#377 :sparkles: feat(admin): add item detail page and item delete refactoring
  backend/streetdrop-admin/streetdrop-admin-server/build.gradle
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/controller/ItemController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/controller/ItemService.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/dto/ItemDetailResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/dto/detail/ItemBasicInfoDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/dto/detail/ItemLocationInfoDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/dto/detail/ItemMusicInfoDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/item/dto/detail/ItemUserInfoDto.java
  backend/streetdrop-admin/streetdrop-admin-web/src/api/domain/item/ItemApi.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/ItemDetailPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/ItemListPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/user/UserListPage.js
Labels: ✨feature, 👷🏻‍♂️Admin Server

#380 :bug: fix(admin): fix blocked user appears to be a blocker user
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/user/service/UserBlockService.java
Labels: 🐛bug, 👷🏻‍♂️Admin Server

#369 :sparkles: feat(api): Add ApiResponse, ApiErrorReponse Annotation
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/controller/GeoController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserItemController.java
Labels: 😺 API Server

#382 :bug: fix(api): nickname size checking bug fix
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/request/NicknameChangeDto.java
  backend/streetdrop-api/src/test/java/unit/domains/user/controller/UserControllerTest.java
Labels: 🐛bug, 🥉d-2, ✅test, 😺 API Server

#327 :recycle: feat(api): add search term recommend
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/recommend/search/controller/SearchRecommendController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/recommend/search/dto/CreateSearchRecommendDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/recommend/search/dto/TextColorDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/recommend/search/repository/SearchRecommendTermRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/recommend/search/service/SearchRecommendService.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/dto/ErrorCode.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/recommend/controller/SearchRecommendController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/recommend/dto/response/SearchTermRecommendResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/recommend/dto/response/TextColorDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/recommend/repository/SearchRecommendTermRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/recommend/service/SearchRecommendService.java
  backend/streetdrop-api/src/main/resources/db/migration/V20230822__add_search_term_recommend.sql
  backend/streetdrop-domain/build.gradle
  backend/streetdrop-domain/src/main/java/com/depromeet/recommend/search/SearchRecommendTerm.java
  backend/streetdrop-domain/src/main/java/com/depromeet/recommend/search/TextColorVo.java
Labels: ✨feature, 🥇asap, 😺 API Server

#390 ✨ feat(api): add get items points posted/liked by user
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepositoryImpl.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLocationRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepositoryImpl.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/QueryDslItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dao/UserItemPointDao.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/response/UserPoiResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-api/src/test/java/unit/domains/user/controller/UserItemControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/service/UserItemServiceTest.java
Labels: ✨feature, 🥈d-1, 😺 API Server

#372 :bug: fix(api): solving the problem of saving the song null
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/event/CreateSongGenreEvent.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/genre/handler/SongGenreEventHandler.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/genre/repository/GenreRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/genre/repository/SongGenreRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/genre/service/GenreService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/genre/service/SongGenreService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/service/MusicService.java
Labels: 🐛bug, 😺 API Server

#160 :sparkles: feat: add banned word when create item
  backend/streetdrop-api/src/main/java/com/depromeet/common/annotation/NotBannedWord.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/annotation/validator/BannedWordValidator.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/dto/ErrorCode.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/repository/BannedWordRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/request/ItemCreateRequestDto.java
  backend/streetdrop-api/src/main/resources/db/migration/v20230911__add_banned_word.sql
  backend/streetdrop-api/src/test/java/unit/domains/item/controller/ItemControllerTest.java
  backend/streetdrop-domain/src/main/java/com/depromeet/common/entity/BannedWord.java
Labels: ✨feature
