Repository depromeet/street-drop-server, pull requests merged in 2023-09, with the labels that each got.

#326 :memo: docs : update srs overview
  docs/docs/software-design-description/architecture.md
  docs/docs/software-design-description/design-considerations.md
  docs/docs/software-design-description/high-level-design.md
  docs/docs/software-design-description/low-level-design.md
  docs/docs/software-requirement-specification/Intrduction.md
  docs/docs/software-requirement-specification/appendix.md
  docs/docs/software-requirement-specification/change-management-process.md
  docs/docs/software-requirement-specification/environment.md
  docs/docs/software-requirement-specification/external-interface-requirements.md
  docs/docs/software-requirement-specification/functional-requirements.md
  docs/docs/software-requirement-specification/images/overview.png
  docs/docs/software-requirement-specification/non-functional-requirements.md
  docs/docs/software-requirement-specification/ovearall-description.md
  docs/docs/software-requirement-specification/preformance-requirements.md
  docs/docs/software-requirement-specification/reference-materials.md
Labels: 📝docs

#331 :memo: docs(blog): add docs record blog
  docs/blog/2023-09-10-record.md
  docs/blog/2023-09-10-record/record.png
Labels: 📝docs

#335 :bug: fix(docs): fix docs broken link
  docs/docusaurus.config.js
  docs/src/components/HomepageFeatures/index.tsx
Labels: 🐛bug, 📝docs

#336 :sparkles: feat(admin): add User Block List Page
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/user/controller/UserBlockController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/user/dto/UserBlockAllResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/user/dto/UserBlockResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/user/repository/UserBlockRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/user/service/UserBlockService.java
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/api/domain/user/UserBlockApi.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/user/UserBlockPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/setupProxy.js
Labels: ✨feature

#332 :sparkles: feat : add prometheus monitoring server
  infra/monitoring/docker-compose.yml
  infra/monitoring/prometheus/prometheus.yml
  infra/prometheus.yml
Labels: ✨feature, ⚙️config, 🧤Infra

#334 :sparkles: feat : add jenkins docker compose setup
  infra/jenkins/docker-compose.yml
Labels: ✨feature, ⚙️config, 🧤Infra

#330 :sparkles: feat(admin): add docker-compose set up to admin
  backend/streetdrop-admin/Dockerfile
  backend/streetdrop-admin/docker-compose.yml
  backend/streetdrop-admin/streetdrop-admin-server/Dockerfile
  backend/streetdrop-admin/streetdrop-admin-web-server/app.js
Labels: ✨feature, ⚙️config, 🧤Infra

#344 :memo: docs(blog): add docs apple music api token blog
  docs/blog/2023-09-12-apple-music-api-token.md
  docs/blog/2023-09-12-apple-music-api-token/identifiers-1.png
  docs/blog/2023-09-12-apple-music-api-token/identifiers-2.png
  docs/blog/2023-09-12-apple-music-api-token/identifiers-3.png
  docs/blog/2023-09-12-apple-music-api-token/identifiers-4.png
  docs/blog/2023-09-12-apple-music-api-token/identifiers-5.png
  docs/blog/2023-09-12-apple-music-api-token/jwt-1.png
  docs/blog/2023-09-12-apple-music-api-token/jwt-2.png
  docs/blog/2023-09-12-apple-music-api-token/jwt-3.png
  docs/blog/2023-09-12-apple-music-api-token/keys-1.png
  docs/blog/2023-09-12-apple-music-api-token/keys-2.png
  docs/blog/2023-09-12-apple-music-api-token/keys-3.png
  docs/blog/2023-09-12-apple-music-api-token/keys-4.png
  docs/blog/2023-09-12-apple-music-api-token/keys-5.png
  docs/blog/2023-09-12-apple-music-api-token/keys-6.png
  docs/blog/2023-09-12-apple-music-api-token/search.png
Labels: 📝docs, 🥉d-2

#346 :memo: docs(blog) modified docs blog tag
  docs/blog/2023-09-10-record.md
Labels: 📝docs

#347 :memo: docs: fix blog slug duplicated
  docs/blog/2023-09-12-apple-music-api-token.md
Labels: 🐛bug, 📝docs, 🥉d-2

#350 :white_check_mark: test(api): add test to geo controller and service
  backend/streetdrop-api/src/test/java/unit/domains/geo/controller/GeoControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/geo/service/GeoServiceTest.java
Labels: ✅test

#362 :recycle: chore(api) : test dir fix
  backend/streetdrop-api/src/test/java/unit/domains/item/controller/ItemControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/item/service/ItemLikeServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/item/service/ItemServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/controller/UserBlockControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/controller/UserControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/service/UserBlockServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/service/UserServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/village/controller/VillageItemControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/village/service/VillageAreaServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/village/service/VillageItemServiceTest.java
Labels: ✅test, 😺 API Server

#368 :white_check_mark: test(api) : add notificationController test
  backend/streetdrop-api/src/test/java/unit/domains/notification/controller/NotificationControllerTest.java
Labels: ✅test

#365 :white_check_mark: test(api) : add item claim and service test
  backend/streetdrop-api/src/test/java/unit/domains/item/controller/ItemClaimControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/item/service/ItemClaimServiceTest.java
Labels: ✅test

#361 :wrench: config(all) : gradle setup not create plain jar
  backend/streetdrop-admin/streetdrop-admin-server/build.gradle
  backend/streetdrop-api/build.gradle
  backend/streetdrop-batch/build.gradle
  backend/streetdrop-notification/build.gradle
  backend/streetdrop-search/build.gradle
Labels: ⚙️config, 😺 API Server, 🔍Search Server, 🧶Notifiction Server, 🏃🏽Batch Server, 👷🏻‍♂️Admin Server

#370 :memo: docs: update readme add link to docs and new architecture
  README.md
Labels: 📝docs
