Repository depromeet/street-drop-server, pull requests merged in 2023-05, with the labels that each got.

#8 :sparkles: feat : add swagger setup
  build.gradle
  src/main/java/com/depromeet/streetdrop/global/config/SwaggerConfig.java
Labels: documentation, configuration

#10 :memo: docs : add ci badge and codecov badge to readme
  README.md
Labels: documentation

#12 :gear: chore : remove queryDsl, config to test coverage
  .github/workflows/jacoco.yml
  build.gradle
Labels: enhancement

#13 :sparkles: feat: GlobalExceptionHandler setting
  build.gradle
  src/main/java/com/depromeet/streetdrop/HealthController.java
  src/main/java/com/depromeet/streetdrop/global/common/presentation/HealthController.java
  src/main/java/com/depromeet/streetdrop/global/common/presentation/SwaggerController.java
  src/main/java/com/depromeet/streetdrop/global/error/GlobalExceptionHandler.java
  src/main/java/com/depromeet/streetdrop/global/error/dto/ErrorCode.java
  src/main/java/com/depromeet/streetdrop/global/error/dto/ErrorResponseDto.java
  src/main/java/com/depromeet/streetdrop/global/error/exception/common/BusinessException.java
  src/main/java/com/depromeet/streetdrop/global/error/exception/common/NotFoundException.java
  src/test/java/com/depromeet/streetdrop/HealthControllerTest.java
Labels: enhancement

#17 :sparkles: [feature] BaseTimeEntity, ResponseDto, PageResponseDto setting #16
  src/main/java/com/depromeet/streetdrop/domain/common/BaseTimeEntity.java
  src/main/java/com/depromeet/streetdrop/domain/common/dto/PageResponseDto.java
  src/main/java/com/depromeet/streetdrop/domain/common/dto/ResponseDto.java
  src/main/java/com/depromeet/streetdrop/global/common/presentation/HealthController.java
Labels: enhancement

#22 :sparkles: Add Entity Class
  build.gradle
  src/main/java/com/depromeet/streetdrop/domains/common/BaseTimeEntity.java
  src/main/java/com/depromeet/streetdrop/domains/common/dto/PageResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/common/dto/ResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/entity/ItemLocation.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/entity/Album.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/entity/AlbumCover.java
  src/main/java/com/depromeet/streetdrop/domains/music/artist/entity/Artist.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/entity/Song.java
  src/main/java/com/depromeet/streetdrop/domains/user/entity/User.java
  src/main/java/com/depromeet/streetdrop/global/common/controller/HealthController.java
  src/main/java/com/depromeet/streetdrop/global/common/controller/SwaggerController.java
  src/test/java/com/depromeet/streetdrop/HealthControllerTest.java
Labels: enhancement

#27 :sparkles: feat: Add entity about city, state, village area
  build.gradle
  src/main/java/com/depromeet/streetdrop/apis/area/village/controller/VillageItemController.java
  src/main/java/com/depromeet/streetdrop/domains/area/city/entity/CityArea.java
  src/main/java/com/depromeet/streetdrop/domains/area/state/entity/StateArea.java
  src/main/java/com/depromeet/streetdrop/domains/area/village/dto/response/VillageItemsCountResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/area/village/entity/VillageArea.java
  src/main/java/com/depromeet/streetdrop/domains/area/village/repository/VillageAreaRepository.java
  src/main/java/com/depromeet/streetdrop/domains/area/village/service/VillageItemService.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/entity/ItemLocation.java
  src/main/resources/application.yml
  src/test/java/com/depromeet/streetdrop/api/area/village/controller/VillageItemControllerTest.java
  src/test/java/com/depromeet/streetdrop/domains/area/village/service/VillageItemServiceTest.java
Labels: enhancement

#29 ✨feat: add genre entity
  src/main/java/com/depromeet/streetdrop/domains/music/genre/entity/Genre.java
  src/main/java/com/depromeet/streetdrop/domains/music/genre/entity/SongGenre.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/entity/Song.java
Labels: enhancement

#37 :recycle: refactor : remove /test endpoint
  src/main/java/com/depromeet/streetdrop/global/common/controller/HealthController.java
Labels: enhancement

#44 :bug: fix : add server url setup to swagger
  src/main/java/com/depromeet/streetdrop/global/config/SwaggerConfig.java
Labels: bug, configuration

#35 :sparkles: feat : add getNearItemPoints api
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/common/annotation/IsLatitude.java
  src/main/java/com/depromeet/streetdrop/domains/common/annotation/IsLongitude.java
  src/main/java/com/depromeet/streetdrop/domains/common/validator/LatitudeValidator.java
  src/main/java/com/depromeet/streetdrop/domains/common/validator/LongitudeValidator.java
  src/main/java/com/depromeet/streetdrop/domains/item/dao/ItemPointDao.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/NearItemRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/PoiResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/repository/ItemLocationRepository.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/global/error/GlobalExceptionHandler.java
  src/main/java/com/depromeet/streetdrop/global/error/dto/ErrorCode.java
  src/main/java/com/depromeet/streetdrop/global/error/dto/ErrorResponseDto.java
  src/test/java/com/depromeet/streetdrop/api/item/controller/ItemControllerTest.java
  src/test/java/com/depromeet/streetdrop/domains/item/service/ItemServiceTest.java
Labels: enhancement

#31 :sparkles: feat: find details of items
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemDetailResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/repository/ItemRepository.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/dto/response/LocationResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/music/dto/response/MusicResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/entity/Song.java
  src/main/java/com/depromeet/streetdrop/domains/user/dto/response/UserResponseDto.java
  src/test/java/com/depromeet/streetdrop/apis/area/village/controller/VillageItemControllerTest.java
Labels: enhancement

#30 feature/item drop
  build.gradle
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/common/dto/ResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/ItemRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/item/repository/ItemRepository.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/entity/ItemLocation.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/service/ItemLocationService.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/entity/Album.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/entity/AlbumCover.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/repository/AlbumCoverRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/repository/AlbumRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/service/AlbumCoverService.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/service/AlbumService.java
  src/main/java/com/depromeet/streetdrop/domains/music/artist/entity/Artist.java
  src/main/java/com/depromeet/streetdrop/domains/music/artist/repository/ArtistRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/artist/service/ArtistService.java
  src/main/java/com/depromeet/streetdrop/domains/music/genre/entity/SongGenre.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/entity/Song.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/repository/SongRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/service/SongService.java
  src/main/java/com/depromeet/streetdrop/domains/user/entity/User.java
  src/main/java/com/depromeet/streetdrop/domains/user/repository/UserRepository.java
  src/main/java/com/depromeet/streetdrop/domains/user/service/UserService.java
  src/main/java/com/depromeet/streetdrop/global/common/util/GeomUtil.java
  src/main/java/com/depromeet/streetdrop/global/config/JpaAuditingConfig.java
  src/test/java/com/depromeet/streetdrop/apis/item/controller/ItemControllerTest.java
Labels: enhancement

#48 ♻️ refactor : Modify itemRequestDto nested form
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/common/dto/ResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/ItemRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/dto/request/LocationRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/entity/ItemLocation.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/service/ItemLocationService.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/entity/Album.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/repository/AlbumCoverRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/service/AlbumCoverService.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/service/AlbumService.java
  src/main/java/com/depromeet/streetdrop/domains/music/artist/service/ArtistService.java
  src/main/java/com/depromeet/streetdrop/domains/music/dto/MusicDto.java
  src/main/java/com/depromeet/streetdrop/domains/music/dto/request/MusicRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/music/genre/entity/SongGenre.java
  src/main/java/com/depromeet/streetdrop/domains/music/genre/repository/SongGenreRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/service/MusicService.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/service/SongService.java
Labels: enhancement

#51 :bug: fix : can't find village bug fix
  src/main/java/com/depromeet/streetdrop/domains/area/village/repository/VillageAreaRepository.java
  src/main/java/com/depromeet/streetdrop/domains/area/village/service/VillageAreaService.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/entity/ItemLocation.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/service/ItemLocationService.java
Labels: bug

#55 :bug: fix: add validation check
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/ItemRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/dto/request/LocationRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/service/ItemLocationService.java
  src/main/java/com/depromeet/streetdrop/domains/music/dto/request/MusicRequestDto.java
Labels: bug

#50 ✨ feat : add idfv handler
  build.gradle
  src/main/java/com/depromeet/streetdrop/apis/user/controller/UserController.java
  src/main/java/com/depromeet/streetdrop/domains/user/entity/User.java
  src/main/java/com/depromeet/streetdrop/domains/user/repository/UserRepository.java
  src/main/java/com/depromeet/streetdrop/domains/user/service/UserService.java
  src/main/java/com/depromeet/streetdrop/global/annotation/ReqUser.java
  src/main/java/com/depromeet/streetdrop/global/config/SwaggerConfig.java
  src/main/java/com/depromeet/streetdrop/global/security/config/WebSecurityConfig.java
  src/main/java/com/depromeet/streetdrop/global/security/filter/IdfvAuthenticationFilter.java
  src/main/java/com/depromeet/streetdrop/global/security/provider/IdfvUserDetailsService.java
  src/main/java/com/depromeet/streetdrop/global/security/provider/SecurityUserDetails.java
  src/test/java/com/depromeet/streetdrop/HealthControllerTest.java
  src/test/java/com/depromeet/streetdrop/apis/area/village/controller/VillageItemControllerTest.java
  src/test/java/com/depromeet/streetdrop/apis/item/controller/ItemControllerTest.java
  src/test/java/com/depromeet/streetdrop/apis/user/controller/UserControllerTest.java
  src/test/java/com/depromeet/streetdrop/common/annotation/MockAnonymousUser.java
  src/test/java/com/depromeet/streetdrop/common/annotation/WithMockCustomAnonymousUserSecurityContextFactory.java
  src/test/java/com/depromeet/streetdrop/domains/user/service/UserServiceTest.java
  src/test/java/com/depromeet/streetdrop/global/security/filter/IdfvAuthenticationFilterTest.java
  src/test/java/com/depromeet/streetdrop/global/security/provider/IdfvUserDetailsServiceTest.java
  src/test/java/com/depromeet/streetdrop/global/security/provider/SecurityUserDetailsTest.java
Labels: enhancement

#58 :recycle: refactor: change Item Detail API response structure
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemDetailResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemsResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
Labels: enhancement

#60 ✨ feat: add idfv check to drop item
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/domains/user/entity/User.java
  src/main/java/com/depromeet/streetdrop/global/security/config/WebSecurityConfig.java
  src/test/java/com/depromeet/streetdrop/global/security/provider/SecurityUserDetailsTest.java
Labels: enhancement

#62 :bug: fix: music save problem solve
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/ItemLocationRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/ItemRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemLocationResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemsResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/ItemLocation.java
  src/main/java/com/depromeet/streetdrop/domains/item/repository/ItemLocationRepository.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/domains/itemLocation/service/ItemLocationService.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/entity/AlbumCover.java
  src/main/java/com/depromeet/streetdrop/domains/music/album/repository/AlbumRepository.java
  src/main/java/com/depromeet/streetdrop/domains/music/artist/entity/Artist.java
  src/main/java/com/depromeet/streetdrop/domains/music/service/MusicService.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/entity/Song.java
  src/main/java/com/depromeet/streetdrop/domains/music/song/repository/SongRepository.java
Labels: enhancement

#56 ✅ test: find item detail test
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/music/genre/entity/Genre.java
  src/test/java/com/depromeet/streetdrop/apis/item/controller/ItemControllerTest.java
  src/test/java/com/depromeet/streetdrop/domains/item/service/ItemServiceTest.java
Labels: enhancement

#67 :memo: document: add readme
  README.md
Labels: documentation
