Repository depromeet/street-drop-server, pull requests merged in 2023-11, with the labels that each got.

#394 :sparkles: feat: add exception handling to notification server
  backend/streetdrop-notification/src/main/java/com/depromeet/error/ErrorCode.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/ErrorCodeInterface.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/ErrorDomain.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/ErrorResponse.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/GlobalExceptionHandler.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/code/FireBaseErrorCode.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/code/GlobalErrorCode.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/code/TokenErrorCode.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/exceptions/BusinessException.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/exceptions/ExternalServerException.java
  backend/streetdrop-notification/src/main/java/com/depromeet/error/exceptions/NotFoundException.java
  backend/streetdrop-notification/src/main/java/com/depromeet/external/fcm/FcmConfig.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/PushService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TokenService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TopicService.java
Labels: ✨feature, 🧶Notifiction Server

#401 :ambulance: hotfix: add user response to musicApp
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemDetailResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemService.java
Labels: 🥇asap, 🚑hotfix, 😺 API Server

#399 :bug: fix: remove configuration
  backend/streetdrop-api/src/main/java/com/depromeet/external/redis/RedisConfig.java
Labels: 🐛bug, ⚙️config

#397 :sparkles: feat: add index to item_like
  backend/streetdrop-api/src/main/resources/db/migration/V20231103_add_index_to_item_like.sql
  backend/streetdrop-domain/src/main/java/com/depromeet/item/ItemLike.java
Labels: ✨feature, 😺 API Server

#396 :bug: fix: ItemLikeRepository Query refactoring to queryDSL
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dao/UserItemLikeDao.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepositoryImpl.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/QueryDslItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemLikeService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
Labels: ♻️refactor, 😺 API Server

#409 :hammer: config: gzip setup to config file
  backend/streetdrop-api/src/main/resources/application.yml
Labels: ⚙️config, 😺 API Server

#393 ✨ Add Report to Discord Channel
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemClaimService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserBlockService.java
  backend/streetdrop-api/src/main/java/com/depromeet/external/discord/DiscordService.java
  backend/streetdrop-api/src/main/java/com/depromeet/external/discord/DiscordWebhookPayload.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/block/dto/UserBlockReportDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/block/service/DiscordUserBlockReportService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/block/service/UserBlockReportService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/claim/dto/ItemClaimReportDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/claim/service/DiscordItemClaimReportService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/claim/service/ItemClaimReportService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/claim/service/SlackItemClaimReportService.java
  backend/streetdrop-api/src/main/resources/application-dev.yml
  backend/streetdrop-api/src/main/resources/application-prod.yml
  backend/streetdrop-api/src/test/java/unit/domains/item/service/ItemClaimServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/service/UserBlockServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/user/service/UserServiceTest.java
Labels: ✨feature, 😺 API Server

#381 :sparkles: feat(admin): fix main view and dashboard
  backend/streetdrop-admin/streetdrop-admin-web/public/index.html
  backend/streetdrop-admin/streetdrop-admin-web/public/logo192.png
  backend/streetdrop-admin/streetdrop-admin-web/public/logo512.png
  backend/streetdrop-admin/streetdrop-admin-web/public/manifest.json
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/UserSignUpGraphDashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/graph/UserLineGraph.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/ItemReportPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/BasicLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/DashboardLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/DefaultLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/common/CommonHeader.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/Dashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/service/UserInfoService.js
  backend/streetdrop-admin/streetdrop-admin-web/src/styles/App.css
Labels: ✨feature, 👷🏻‍♂️Admin Server
