Repository depromeet/street-drop-server, pull requests merged in 2023-06, with the labels that each got.

#63 :white_check_mark: test: Add ItemController Test
  src/main/java/com/depromeet/streetdrop/domains/item/dto/request/ItemLocationRequestDto.java
  src/main/java/com/depromeet/streetdrop/domains/music/dto/request/MusicRequestDto.java
  src/test/java/com/depromeet/streetdrop/unit/apis/item/controller/ItemControllerTest.java
Labels: ✅test

#74 :sparkles: feat: add item like/unlike
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemController.java
  src/main/java/com/depromeet/streetdrop/apis/item/controller/ItemLikeController.java
  src/main/java/com/depromeet/streetdrop/domains/common/dto/ResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemLikeResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/dto/response/ItemsResponseDto.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/Item.java
  src/main/java/com/depromeet/streetdrop/domains/item/entity/ItemLike.java
  src/main/java/com/depromeet/streetdrop/domains/item/repository/ItemLikeRepository.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemLikeService.java
  src/main/java/com/depromeet/streetdrop/domains/item/service/ItemService.java
  src/main/java/com/depromeet/streetdrop/global/error/dto/ErrorCode.java
  src/test/java/com/depromeet/streetdrop/unit/apis/item/controller/ItemControllerTest.java
  src/test/java/com/depromeet/streetdrop/unit/domains/item/service/ItemLikeServiceTest.java
Labels: ✨feature, 🗣️discuss

#81 :bug: fix: change to non-nullable content when posting item
  backend/streetdrop-api/src/test/java/unit/apis/item/controller/ItemControllerTest.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/dto/request/ItemRequestDto.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/entity/Item.java
Labels: 🐛bug, 🥇asap

#83 ✨feature: Add isLike and itemLikeCount on Items Detail API
  backend/streetdrop-api/src/test/java/unit/apis/item/controller/ItemControllerTest.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/dto/response/ItemsResponseDto.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/entity/Item.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/entity/ItemLike.java
Labels: ✨feature, 🥇asap

#92 :sparkles: Feat : add village info and drop count
  backend/streetdrop-api/src/main/java/com/depromeet/apis/area/village/controller/VillageItemController.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/error/dto/ErrorCode.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/area/village/dto/request/VillageItemsRequestDto.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/area/village/dto/response/VillageItemsCountResponseDto.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/area/village/repository/VillageAreaRepository.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/area/village/service/VillageAreaService.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/area/village/service/VillageItemService.java
Labels: ✨feature, 🥇asap

#91 ✨ Feat : add internal server error slack alert
  backend/streetdrop-core/build.gradle
  backend/streetdrop-core/src/main/java/com/depromeet/common/error/GlobalExceptionHandler.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/error/handler/ErrorEvent.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/error/handler/ErrorEventHandler.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/monitoring/MonitoringProvider.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/monitoring/SlackMonitoringProvider.java
  backend/streetdrop-core/src/main/java/com/depromeet/infra/slack/SlackService.java
Labels: ✨feature, 🥇asap

#94 :ambulance: Hotfix : add missing component
  backend/streetdrop-core/src/main/java/com/depromeet/common/error/handler/ErrorEventHandler.java
Labels: 🚑hotfix

#95 :ambulance: Hotfix : fix item likes return 500 when no user
  backend/streetdrop-core/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
Labels: 🚑hotfix

#96 :sparkles: Feat : add Inner Distance to Item poi controller
  backend/streetdrop-api/src/main/java/com/depromeet/apis/item/controller/ItemController.java
  backend/streetdrop-api/src/test/java/unit/apis/area/village/controller/VillageItemControllerTest.java
  backend/streetdrop-api/src/test/java/unit/apis/item/controller/ItemControllerTest.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/dao/ItemPointDao.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/dto/request/NearItemPointRequestDto.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/dto/response/PoiResponseDto.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/repository/ItemLocationRepository.java
  backend/streetdrop-core/src/main/java/com/depromeet/domains/item/service/ItemService.java
  backend/streetdrop-core/src/test/java/unit/domains/area/village/service/VillageItemServiceTest.java
  backend/streetdrop-core/src/test/java/unit/domains/item/service/ItemServiceTest.java
Labels: ✨feature, 🥇asap, 🚑hotfix

#89 :recycle: Refactor : change directory common.controller to apis
  backend/streetdrop-api/src/main/java/com/depromeet/apis/common/controller/HealthController.java
  backend/streetdrop-api/src/main/java/com/depromeet/apis/common/controller/SwaggerController.java
  backend/streetdrop-api/src/test/java/unit/apis/common/controller/HealthControllerTest.java
Labels: 🥉d-2, 🥈d-1, ♻️refactor

#98 :bug: fix jacoco.yml modify indent line
  .github/workflows/jacoco.yml
Labels: 🚑hotfix

#99 :bug: fix indent line
  .github/workflows/jacoco.yml
Labels: 🚑hotfix

#87 :recycle: Refactor : change security core module to api module
  backend/streetdrop-api/src/main/java/com/depromeet/apis/item/controller/ItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/apis/item/controller/ItemLikeController.java
  backend/streetdrop-api/src/main/java/com/depromeet/apis/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/annotation/ReqUser.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/filter/IdfvAuthenticationFilter.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/provider/IdfvUserDetailsService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/provider/SecurityUserDetails.java
  backend/streetdrop-api/src/test/java/unit/security/filter/IdfvAuthenticationFilterTest.java
  backend/streetdrop-api/src/test/java/unit/security/provider/IdfvUserDetailsServiceTest.java
  backend/streetdrop-api/src/test/java/unit/security/provider/SecurityUserDetailsTest.java
Labels: 🥉d-2, ♻️refactor

#100 :sparkles: Feat : add Logging
  backend/streetdrop-api/src/main/resources/application.yml
  backend/streetdrop-api/src/main/resources/logback-spring.xml
  backend/streetdrop-core/src/main/java/com/depromeet/common/logging/dto/HttpRequestLogInfo.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/logging/dto/HttpResponseLogInfo.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/logging/filter/HttpLoggingFilter.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/logging/filter/wrapper/RequestWrapper.java
  backend/streetdrop-core/src/main/java/com/depromeet/common/logging/filter/wrapper/ResponseWrapper.java
Labels: ✨feature, 🥇asap

#107 :bug: fix: resolve VillageItemControllerTest fail
  backend/streetdrop-api/src/test/java/unit/area/village/controller/VillageItemControllerTest.java
Labels: 🐛bug

#84 ✨ feat: add search api
  backend/streetdrop-search/build.gradle
  backend/streetdrop-search/src/main/java/com/depromeet/apis/MusicController.java
  backend/streetdrop-search/src/main/java/com/depromeet/global/common/controller/HealthController.java
  backend/streetdrop-search/src/main/java/com/depromeet/global/common/controller/SwaggerController.java
  backend/streetdrop-search/src/main/java/com/depromeet/global/config/CacheWebConfig.java
  backend/streetdrop-search/src/main/java/com/depromeet/global/config/LocalCacheConfig.java
  backend/streetdrop-search/src/main/java/com/depromeet/global/config/SwaggerConfig.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/MusicInfoListResponseDto.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/MusicInfoResponseDto.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/AppleMusicResponseDto.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Artwork.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Attributes.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Data.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Meta.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/PlayParams.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Preview.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Results.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/dto/response/apple/Songs.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/event/AppleMusicApiKeyRefreshEvent.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/handler/AppleMusicApiKeyRefreshEventHandler.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/service/AppleMusicConfig.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/service/AppleMusicService.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/service/MusicService.java
  backend/streetdrop-search/src/main/java/com/depromeet/music/utils/AppleMusicApiKeyGenerator.java
  backend/streetdrop-search/src/test/java/com/depromeet/StreetDropSearchApplicationTests.java
  backend/streetdrop-search/src/test/java/com/depromeet/unit/apis/MusicControllerTest.java
  backend/streetdrop-search/src/test/java/com/depromeet/unit/service/AppleMusicConfigTest.java
  backend/streetdrop-search/src/test/java/com/depromeet/unit/service/AppleMusicServiceTest.java
Labels: ✨feature, 🗣️discuss, 🥉d-2

#112 ✨ feat: add admin web
  backend/streetdrop-admin/build.gradle
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/common/HealthController.java
  backend/streetdrop-admin/streetdrop-admin-web/.gitignore
  backend/streetdrop-admin/streetdrop-admin-web/README.md
  backend/streetdrop-admin/streetdrop-admin-web/package-lock.json
  backend/streetdrop-admin/streetdrop-admin-web/package.json
  backend/streetdrop-admin/streetdrop-admin-web/public/favicon-16x16.png
  backend/streetdrop-admin/streetdrop-admin-web/public/favicon.ico
  backend/streetdrop-admin/streetdrop-admin-web/public/index.html
  backend/streetdrop-admin/streetdrop-admin-web/public/logo192.png
  backend/streetdrop-admin/streetdrop-admin-web/public/logo512.png
  backend/streetdrop-admin/streetdrop-admin-web/public/manifest.json
  backend/streetdrop-admin/streetdrop-admin-web/public/robots.txt
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/UserLineGraph.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/BasicLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/DashboardLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/MapLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/common/CommonHeader.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/map/KakaoMap.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/MusicListPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropMusicFail.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropMusicInMap.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropMusicSuccess.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/SearchDropMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/SelectMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/near/MusicList.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/recommend/MusicRecommend.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/recommend/MusicRecommendEventCreate.js
  backend/streetdrop-admin/streetdrop-admin-web/src/index.js
  backend/streetdrop-admin/streetdrop-admin-web/src/logo.svg
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/Dashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/Login.js
  backend/streetdrop-admin/streetdrop-admin-web/src/setupProxy.js
  backend/streetdrop-admin/streetdrop-admin-web/src/styles/App.css
  backend/streetdrop-admin/streetdrop-admin-web/src/styles/Login.css
  backend/streetdrop-admin/streetdrop-admin-web/src/styles/index.css
Labels: ✨feature, 🥉d-2

#121 :sparkles: feat: Add street-drop-notification module
  backend/settings.gradle
  backend/streetdrop-notification/build.gradle
  backend/streetdrop-notification/src/main/java/com/depromeet/StreetDropNotificationApplication.java
  backend/streetdrop-notification/src/test/java/com/depromeet/StreetDropNotificationApplicationTest.java
Labels: ✨feature

#110 :construction_worker: feat: add street drop api cd setup
  .github/workflows/api-deploy.yml
  backend/streetdrop-api/Dockerfile
  backend/streetdrop-api/src/main/resources/application-dev.yml
  backend/streetdrop-api/src/main/resources/application-prod.yml
Labels: ⚙️config

#126 :ambulance: hotfix: fix query in ItemLocationRepository
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLocationRepository.java
Labels: 🚑hotfix

#128 :ambulance: hotfix: add build.gradle to streetdrop-admin module
  backend/streetdrop-admin/build.gradle
Labels: 🚑hotfix

#132 :bug: fix: Fix villageAreaRepository JPQL Query
  backend/streetdrop-api/src/main/java/com/depromeet/domains/village/repository/VillageAreaRepository.java
Labels: 🚑hotfix

#120 ✨ feat: Add Item Report API
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/dto/ErrorCode.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemClaimController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/request/ItemClaimRequestDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemClaimRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemClaimService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/dto/ItemClaimReportDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/service/ItemClaimReportService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/service/SlackItemClaimReportService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-api/src/main/resources/application-dev.yml
  backend/streetdrop-api/src/main/resources/application-prod.yml
  backend/streetdrop-domain/src/main/java/com/depromeet/item/ItemClaim.java
  backend/streetdrop-domain/src/main/java/com/depromeet/item/ItemClaimStatus.java
Labels: ✨feature, 🥈d-1, ✅test

#138 :sparkles: feat: add reverse geocoding api
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/controller/GeoController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/dto/request/ReverseGeocodeRequestDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/dto/response/ReverseGeocodeResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/service/GeoService.java
Labels: ✨feature, 🥇asap

#142 :bug: fix: change ddl-auto validate to update
  backend/streetdrop-api/src/main/resources/application-prod.yml
Labels: 🐛bug, ⚙️config, 🥇asap

#114 :sparkles: feat: find All Admin Users
  backend/streetdrop-admin/streetdrop-admin-server/build.gradle
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/common/HealthController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/controller/UserController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/dto/ResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/dto/UserAllResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/repository/UserRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/service/UserService.java
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/user/UserListPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/setupProxy.js
Labels: ✨feature, 🥈d-1

#149 ⚙️ config: auto add reviewers
  .github/workflows/reviewer.yml
Labels: ⚙️config, 🥉d-2

#135 :sparkles: feat: add item update/delete api
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/dto/ErrorCode.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/exception/common/NotFoundException.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/request/ItemCreateRequestDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/request/ItemUpdateRequestDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-api/src/test/java/unit/item/controller/ItemControllerTest.java
  backend/streetdrop-domain/src/main/java/com/depromeet/item/Item.java
Labels: ✨feature, 🥇asap
