Repository depromeet/street-drop-server, pull requests merged in 2023-07, with the labels that each got.

#157 :bug: fix: when create table srid set to 4326
  backend/streetdrop-domain/src/main/java/com/depromeet/area/village/VillageArea.java
Labels: 🐛bug

#155 :gear: config: add prometheus and logging to search server
  backend/streetdrop-search/build.gradle
  backend/streetdrop-search/src/main/resources/application.yml
Labels: ⚙️config, 🥉d-2

#162 :sparkles: feat: add nickname change api
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/dto/ErrorCode.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/User.java
Labels: ✨feature, 🥉d-2

#166 :sparkles: feat: add admin user count by join date
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/controller/UserController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/dto/UserCountResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/repository/UserRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/service/UserService.java
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/UserLineGraph.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/Dashboard.js
Labels: ✨feature, 🥉d-2

#164 :sparkles: feat: add music app change api
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/response/UserResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserService.java
  backend/streetdrop-api/src/test/java/unit/user/service/UserServiceTest.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/User.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/vo/MusicApp.java
Labels: ✨feature, 🥉d-2

#146 :recycle: refactor: ItemPoi refactor to QueryDsl
  backend/streetdrop-api/build.gradle
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLocationRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/external/querydsl/mysql/spatial/MySqlSpatialFunction.java
  backend/streetdrop-domain/build.gradle
  backend/streetdrop-domain/src/main/java/com/depromeet/common/config/QuerydslConfig.java
Labels: ⚙️config, 🥉d-2, ♻️refactor

#147 :recycle: refactor: add default_nick_name table and get random nickname
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/repository/DefaultNickNameRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserService.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/DefaultNickName.java
Labels: ✨feature, 🥉d-2

#167 :sparkles: feat: add push default setting
  .gitignore
  backend/streetdrop-notification/build.gradle
  backend/streetdrop-notification/src/main/java/com/depromeet/common/controller/HealthController.java
  backend/streetdrop-notification/src/main/java/com/depromeet/controller/PushController.java
  backend/streetdrop-notification/src/main/java/com/depromeet/controller/TokenController.java
  backend/streetdrop-notification/src/main/java/com/depromeet/controller/TopicController.java
  backend/streetdrop-notification/src/main/java/com/depromeet/dto/request/AllPushRequestDto.java
  backend/streetdrop-notification/src/main/java/com/depromeet/dto/request/PushRequestDto.java
  backend/streetdrop-notification/src/main/java/com/depromeet/dto/request/TokenRequestDto.java
  backend/streetdrop-notification/src/main/java/com/depromeet/dto/request/TopicPushRequestDto.java
  backend/streetdrop-notification/src/main/java/com/depromeet/dto/request/TopicSubscribeRequestDto.java
  backend/streetdrop-notification/src/main/java/com/depromeet/external/fcm/FcmConfig.java
  backend/streetdrop-notification/src/main/java/com/depromeet/external/fcm/FcmService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/MemoryTokenRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/TokenRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/PushService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TokenService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TopicService.java
  backend/streetdrop-notification/src/main/resources/application.yml
Labels: ✨feature

#173 :sparkles: feat: create notification domain
  backend/streetdrop-notification/build.gradle
  backend/streetdrop-notification/src/main/java/com/depromeet/common/config/MongoAuditingConfig.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/Notification.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/Target.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/User.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/UserDevice.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/vo/Channel.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/vo/OsType.java
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/NotificationRepository.java
  backend/streetdrop-notification/src/main/resources/application.yml
Labels: ✨feature

#199 :sparkles: add icon to map and add drop cart
  backend/streetdrop-admin/streetdrop-admin-web/package-lock.json
  backend/streetdrop-admin/streetdrop-admin-web/package.json
  backend/streetdrop-admin/streetdrop-admin-web/public/image/new-poi.png
  backend/streetdrop-admin/streetdrop-admin-web/public/image/poi.png
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/ItemDashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/MarketingDashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/DashboardLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/map/KakaoMap.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropCartView.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropKakaoMap.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropMultiMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropMusicInMap.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropSingleMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/SearchDropMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/SelectMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/SelectedMusicView.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/result/DropMusicFail.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/result/DropMusicSuccess.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/near/MusicList.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/Dashboard.js
Labels: ✨feature

#201 :sparkles: feature: all and individual push notification
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/notification/CreateNotification.js
  backend/streetdrop-admin/streetdrop-admin-web/src/setupProxy.js
Labels: ✨feature

#195 :recycle: refactor: binding POST request urls related to item in WebSecurityConfig
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
Labels: 🥉d-2, ♻️refactor

#202 :bug: fix: admin user pagination
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/common/dto/PageMetaData.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/dto/UserAllResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/dto/UserResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/service/UserService.java
  backend/streetdrop-admin/streetdrop-admin-web/src/components/user/UserListPage.js
Labels: 🐛bug, ✨feature

#210 ✨ feat(notification): change memory storage -> mongoDB storage
  backend/streetdrop-notification/src/main/java/com/depromeet/controller/PushController.java
  backend/streetdrop-notification/src/main/java/com/depromeet/controller/TokenController.java
  backend/streetdrop-notification/src/main/java/com/depromeet/domain/UserDevice.java
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/MemoryTokenRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/TokenRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/UserDeviceRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/NotificationService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/PushService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TokenService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TopicService.java
Labels: ✨feature, ♻️refactor

#221 :sparkles: feat(api): Add AWS S3 Config, S3 Service
  backend/streetdrop-api/build.gradle
  backend/streetdrop-api/src/main/java/com/depromeet/external/aws/s3/AwsS3Config.java
  backend/streetdrop-api/src/main/java/com/depromeet/external/aws/s3/AwsS3Service.java
Labels: ✨feature

#214 :sparkles: feat(api): add mypage api
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/InfiniteScrollMetaResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/InfiniteScrollResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemDetailResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemGroupByDateResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemGroupResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/dto/response/MusicResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/service/MusicService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/song/repository/SongRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/response/UserProfileResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-common/src/main/java/com/depromeet/util/WeekUtil.java
Labels: ✨feature

#223 :recycle: refactor(api): add @Param, @Value Annotation
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/album/repository/AlbumRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserBlockController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/repository/BlockUserRepository.java
Labels: ♻️refactor

#218 :sparkles: feat(api, domain): add user level get API
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/response/UserLevelResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/event/UserLevelSetEvent.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/handler/UserLevelCreateEventHandler.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/repository/UserLevelRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserLevelService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserService.java
  backend/streetdrop-api/src/main/java/com/depromeet/security/config/WebSecurityConfig.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/User.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/UserLevel.java
Labels: ✨feature, 🥇asap

#235 :bug: hotfix(api): api import hotfix
  backend/streetdrop-api/src/main/java/com/depromeet/domains/music/album/repository/AlbumRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/repository/BlockUserRepository.java
Labels: 🥇asap, 🚑hotfix

#237 🚑 hotfix(notification): find tokens using findDeviceTokenByUserId -> findByUserId
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/UserDeviceRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/PushService.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/TopicService.java
Labels: 🚑hotfix

#242 :ambulance: hotfix(api): itemClaimService dto error hotfix
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemClaimService.java
  backend/streetdrop-api/src/main/java/com/depromeet/report/dto/ItemClaimReportDto.java
  backend/streetdrop-domain/src/main/java/com/depromeet/item/ItemClaim.java
Labels: 🥇asap, 🚑hotfix

#241 🚑 hotfix: find tokens of all users using findAllDeviceTokens -> findAll
  backend/streetdrop-notification/src/main/java/com/depromeet/repository/UserDeviceRepository.java
  backend/streetdrop-notification/src/main/java/com/depromeet/service/PushService.java
Labels: 🚑hotfix

#243 :ambulance: hotfix(api) : reporter hotfix
  backend/streetdrop-api/src/main/java/com/depromeet/report/service/SlackItemClaimReportService.java
Labels: 🥇asap, 🚑hotfix

#245 :wrench: config(ci): change ci by dir
  .github/workflows/api-deploy.yml
  .github/workflows/jacoco.yml
Labels: ⚙️config

#246 :bug: fix(api): modify user item query response
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemGroupByDateResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
Labels: 🐛bug

#253 :sparkles: feature(admin) : add village item count
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/dto/UserSignUpCountRequestDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/repository/UserRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/user/service/UserStaticService.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/village/controller/VillageController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/village/dto/ItemCountPerVillageResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/village/repository/VillageRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/apis/village/service/VillageService.java
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/ItemDashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/MarketingDashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/dashboard/PushDashboard.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/ItemListPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/drop/DropKakaoMap.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/drop/DropSingleMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/drop/SearchDropMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/drop/SelectedMusicView.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/drop/result/DropMusicFail.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/drop/result/DropMusicSuccess.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/music/MusicListPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/music/recommend/MusicRecommend.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/items/music/recommend/MusicRecommendEventCreate.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/location/LocationAnalysis.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropCartView.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/drop/DropMultiMusic.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/music/near/MusicList.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/notification/CreateNotification.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/user/UserListPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/components/user/UserSignUpGraph.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/BasicLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/DashboardLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/MapLayout.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/common/CommonHeader.js
  backend/streetdrop-admin/streetdrop-admin-web/src/layout/common/Menu.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/Dashboard.js
Labels: ✨feature, 🥇asap

#257 :ambulance: hotfix(api): cannot get like issue fix
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemsResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemService.java
  backend/streetdrop-api/src/test/java/unit/item/service/ItemServiceTest.java
Labels: 🥇asap, 🚑hotfix

#251 :sparkles: feat(batch, domain): add User Level Update Schedule
  backend/streetdrop-batch/build.gradle
  backend/streetdrop-batch/src/main/java/com/depromeet/StreetDropBatchApplication.java
  backend/streetdrop-batch/src/main/java/com/depromeet/common/HealthController.java
  backend/streetdrop-batch/src/main/java/com/depromeet/config/BatchConfig.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/level/LevelUpdatePolicy.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/level/LevelUpdatePolicyImpl.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/UserItemDto.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/jobs/UserLevelJob.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/repository/UserLevelRepository.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/repository/UserRepository.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/scheduler/UserLevelBatchScheduler.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/service/UserService.java
  backend/streetdrop-batch/src/main/resources/application-prod.yml
  backend/streetdrop-batch/src/main/resources/application.yml
  backend/streetdrop-domain/src/main/java/com/depromeet/user/User.java
Labels: ✨feature

#262 :ambulance: hotfix(api): hotfix sorting by date
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
  backend/streetdrop-common/src/main/java/com/depromeet/util/WeekUtil.java
Labels: 🥇asap, 🚑hotfix

#260 :memo: docs: git readme update
  README.md
Labels: 📝docs

#265 ✨ feat(docs): add docusaurus setting
  .github/workflows/docusaurus.yml
  docs/.gitignore
  docs/README.md
  docs/babel.config.js
  docs/blog/2023-07-24-welcome/function_com.png
  docs/blog/2023-07-24-welcome/function_drop.png
  docs/blog/2023-07-24-welcome/function_home.png
  docs/blog/2023-07-24-welcome/function_music.png
  docs/blog/2023-07-24-welcome/function_my_page.png
  docs/blog/2023-07-24-welcome/function_pushnoti.png
  docs/blog/2023-07-24-welcome/function_search.png
  docs/blog/2023-07-24-welcome/function_setting.png
  docs/blog/2023-07-24-welcome/index.md
  docs/blog/2023-07-24-welcome/street-drop-banner.png
  docs/blog/2023-07-24-welcome/street-drop-download.jpg
  docs/blog/2023-07-25-implement-docusaurus.md
  docs/blog/authors.yml
  docs/docs/intro.md
  docs/docs/tutorial-basics/_category_.json
  docs/docs/tutorial-basics/congratulations.md
  docs/docs/tutorial-basics/create-a-blog-post.md
  docs/docs/tutorial-basics/create-a-document.md
  docs/docs/tutorial-basics/create-a-page.md
  docs/docs/tutorial-basics/deploy-your-site.md
  docs/docs/tutorial-basics/markdown-features.mdx
  docs/docs/tutorial-extras/_category_.json
  docs/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/docs/tutorial-extras/img/localeDropdown.png
  docs/docs/tutorial-extras/manage-docs-versions.md
  docs/docs/tutorial-extras/translate-your-site.md
  docs/docusaurus.config.js
  docs/package.json
  docs/sidebars.js
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/components/HomepageFeatures/styles.module.css
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  docs/static/.nojekyll
  docs/static/img/docusaurus-social-card.jpg
  docs/static/img/docusaurus.png
  docs/static/img/favicon.ico
  docs/static/img/logo.svg
  docs/static/img/undraw_docusaurus_mountain.svg
  docs/static/img/undraw_docusaurus_react.svg
  docs/static/img/undraw_docusaurus_tree.svg
  docs/tsconfig.json
  docs/yarn.lock
Labels: ⚙️config

#263 :sparkles: feat(api): add user unblock api
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserBlockController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/repository/BlockUserRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserBlockService.java
Labels: ✨feature

#268 :bug: fix(docs): docusaurus broken link fix
  docs/docusaurus.config.js
Labels: ⚙️config
