Repository depromeet/street-drop-server, pull requests merged in 2023-08, with the labels that each got.

#270 ✨ feat(docs) : add database schema docs
  docs/docs/database-schema /_category_.json
  docs/docs/database-schema /database-schema.md
  docs/docs/database-schema /images/ERD-Admin.png
  docs/docs/database-schema /images/ERD-Areas.png
  docs/docs/database-schema /images/ERD-Items.png
  docs/docs/database-schema /images/ERD-Music.png
  docs/docs/database-schema /images/ERD-Users.png
  docs/docs/database-schema /images/ERD.png
Labels: 📝docs

#269 :bug: fix(api): fix api test case
  backend/streetdrop-api/src/test/java/unit/annotation/WithMockCustomAnonymousUserSecurityContextFactory.java
  backend/streetdrop-api/src/test/java/unit/item/service/ItemLikeServiceTest.java
  backend/streetdrop-api/src/test/java/unit/item/service/ItemServiceTest.java
  backend/streetdrop-api/src/test/java/unit/security/provider/IdfvUserDetailsServiceTest.java
  backend/streetdrop-api/src/test/java/unit/security/provider/SecurityUserDetailsTest.java
  backend/streetdrop-api/src/test/java/unit/user/controller/UserControllerTest.java
  backend/streetdrop-api/src/test/java/unit/user/service/UserServiceTest.java
Labels: ✅test

#273 :memo: docs(readme): update README
  README.md
Labels: 📝docs

#277 :ambulance: hotfix(api): unliked items don't show up in the drop list
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/InfiniteScrollMetaResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dao/ItemDao.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/dto/response/ItemGroupResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepositoryImpl.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/QueryDslItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/response/UserResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
  backend/streetdrop-common/src/main/java/com/depromeet/util/WeekUtil.java
Labels: 🚑hotfix

#278 :wrench: config(docs): fix docusaurus config
  docs/docusaurus.config.js
Labels: ⚙️config

#282 :bug: fix(docs): fix broken link
  docs/docs/intro.md
  docs/docs/software-requirement-specification/_category_.json
  docs/docs/software-test-specification/_category_.json
Labels: 🐛bug, 🚑hotfix

#284 :sparkles: feature(docs): add favicon
  docs/static/img/favicon.ico
Labels: 📝docs

#285 :wrench: config(redis): add redis cache config class
  backend/streetdrop-api/src/main/java/com/depromeet/external/redis/RedisConfig.java
  backend/streetdrop-api/src/main/resources/application-dev.yml
  backend/streetdrop-api/src/main/resources/application-prod.yml
Labels: ⚙️config

#289 :memo: docs: add docs blog posting
  docs/blog/2023-08-12-spring-transaction.md
  docs/blog/2023-08-12-spring-transaction/transaction.png
Labels: 📝docs

#250 :sparkles: feat(api): implement flyway for database migration
  backend/streetdrop-api/build.gradle
  backend/streetdrop-api/src/main/resources/application-dev.yml
  backend/streetdrop-api/src/main/resources/application-prod.yml
  backend/streetdrop-api/src/main/resources/db/migration/V1__init.sql
  backend/streetdrop-domain/src/main/resources/application.yml
Labels: ⚙️config, 🥉d-2

#299 :memo: docs: reduce readme image size
  README.md
Labels: 📝docs, 🥉d-2

#304 :recycle: hotfix(api): add Method not support exception
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/GlobalExceptionHandler.java
Labels: 🚑hotfix

#309 :hammer: config(api): spring cloud version update - security issue
  backend/streetdrop-api/build.gradle
Labels: ⚙️config

#316 :sparkles: feat(api): add filter for testing response time delays
  backend/streetdrop-api/src/main/java/com/depromeet/test/delay/DelayTestFilter.java
Labels: ✨feature

#314 :sparkles: feat(api): add error filter for test error case
  backend/streetdrop-api/src/main/java/com/depromeet/common/error/dto/ErrorCodeMapper.java
  backend/streetdrop-api/src/main/java/com/depromeet/test/error/filter/ErrorTestHeaderFilter.java
Labels: ✨feature

#325 :memo: docs : fix readme badge
  README.md
Labels: 📝docs
