Repository depromeet/street-drop-server, pull requests merged in 2024-06, with the labels that each got.

#474 ✨ feat(domain): add announcement entity
  backend/streetdrop-domain/src/main/java/com/depromeet/announcement/Announcement.java
  backend/streetdrop-domain/src/main/resources/db/migration/V20240606__add_announcement_table.sql
Labels: 🥇asap

#478 :bug: fix(domain): resolve flyway sql syntax error
  backend/streetdrop-domain/src/main/resources/db/migration/V20240606__add_announcement_table.sql
Labels: 🐛bug

#480 :pencil2: typo: unify the convention in swagger
  backend/streetdrop-api/src/main/java/com/depromeet/domains/geo/controller/GeoController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemClaimController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/controller/ItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/level/controller/LevelController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notification/controller/NotificationController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/popup/controller/PopupController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/recommend/controller/SearchRecommendController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserBlockController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
Labels: 🐛bug, 🥉d-2

#481 :ambulance: hotfix: pagination meta data fix
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/InfiniteScrollMetaResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/MetaInterface.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/PageMetaResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/PageResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/PaginationResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemLikeService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
Labels: 🥇asap, 😺 API Server

#484 :sparkles: feat: add admin create announcement
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/controller/AnnouncementController.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/dto/request/AnnouncementRequestDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/dto/response/AnnouncementResponseDto.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/repository/AnnouncementRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/service/AnnouncementService.java
  backend/streetdrop-admin/streetdrop-admin-web/package-lock.json
  backend/streetdrop-admin/streetdrop-admin-web/package.json
  backend/streetdrop-admin/streetdrop-admin-web/src/App.js
  backend/streetdrop-admin/streetdrop-admin-web/src/api/domain/announcement/AnnouncementApi.js
  backend/streetdrop-admin/streetdrop-admin-web/src/constant/MenuItem.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/content/announcement/AnnouncementCreatePage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/content/announcement/AnnouncementDetailPage.js
  backend/streetdrop-admin/streetdrop-admin-web/src/pages/content/announcement/AnnouncementPage.js
Labels: ✨feature, 👷🏻‍♂️Admin Server

#476 :sparkles: feat(api): get announcement
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/PageMetaResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/controller/AnnouncementController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/dto/response/AnnouncementResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/repository/AnnouncementRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/service/AnnouncementService.java
  backend/streetdrop-api/src/test/java/unit/domains/announcement/controller/AnnouncementControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/announcement/service/AnnouncementServiceTest.java
Labels: 🥈d-1, 😺 API Server

#483 :ambulance: hotfix: resolve can't parse JSON in infinite scroll
  backend/streetdrop-api/src/main/java/com/depromeet/common/dto/InfiniteScrollMetaResponseDto.java
Labels: 🐛bug, 🥇asap, 🚑hotfix

#486 :ambulance: hotfix: hotfix announcement list response test
  backend/streetdrop-api/src/test/java/unit/domains/announcement/service/AnnouncementServiceTest.java
Labels: 🚑hotfix, 😺 API Server

#488 :sparkles: feat: add new announcement check api
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/controller/AnnouncementController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/dto/response/NewAnnouncementResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/repository/AnnouncementRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/service/AnnouncementService.java
  backend/streetdrop-api/src/test/java/unit/domains/announcement/controller/AnnouncementControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/announcement/service/AnnouncementServiceTest.java
Labels: ✨feature, 🥇asap, 😺 API Server

#490 ♻️ refactor(api): change name announcement -> notice
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/controller/AnnouncementController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/dto/response/NewAnnouncementResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/repository/AnnouncementRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/announcement/service/AnnouncementService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/controller/NoticeController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/dto/response/NewNoticeResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/dto/response/NoticeListResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/dto/response/NoticeResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/repository/NoticeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/service/NoticeService.java
  backend/streetdrop-api/src/test/java/unit/domains/announcement/service/AnnouncementServiceTest.java
  backend/streetdrop-api/src/test/java/unit/domains/notice/controller/NoticeControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/notice/service/NoticeServiceTest.java
Labels: 🥇asap, ♻️refactor, 😺 API Server
