Repository depromeet/street-drop-server, pull requests merged in 2024-04, with the labels that each got.

#457 ✨ feat: add user level progress api
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/level/data/LevelPolicy.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/response/UserLevelProgressDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserLevelService.java
Labels: 😺 API Server

#456 :recycle: refactor(notification): change mongodb -> mysql
  backend/streetdrop-api/src/main/resources/db/migration/V20240404__add_notification_table.sql
  backend/streetdrop-batch/build.gradle
  backend/streetdrop-batch/src/main/java/com/depromeet/common/error/code/GlobalErrorCode.java
  backend/streetdrop-batch/src/main/java/com/depromeet/config/MongoAuditingConfig.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/domain/Notification.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/domain/Target.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/domain/User.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/domain/UserDevice.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/domain/vo/Channel.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/domain/vo/OsType.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/dto/request/AllPushRequestDto.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/dto/request/PushRequestDto.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/repository/NotificationRepository.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/repository/UserDeviceRepository.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/service/NotificationService.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/service/PushService.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/service/TokenService.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/notification/service/TopicService.java
  backend/streetdrop-batch/src/main/java/com/depromeet/domains/user/repository/UserDeviceRepository.java
  backend/streetdrop-batch/src/main/resources/application-prod.yml
  backend/streetdrop-domain/src/main/java/com/depromeet/notification/Notification.java
  backend/streetdrop-domain/src/main/java/com/depromeet/notification/NotificationAction.java
  backend/streetdrop-domain/src/main/java/com/depromeet/notification/vo/NotificationType.java
  backend/streetdrop-domain/src/main/java/com/depromeet/user/UserDevice.java
Labels: 🥈d-1, ♻️refactor, 🧶Notifiction Server

#461 :hammer: config: add flyway naming check
  .github/workflows/flyway-naming-check.yml
Labels: ⚙️config

#462 ♻️ refactor(domain): manage flyway scripts in api -> domain
  .github/workflows/flyway-naming-check.yml
  backend/streetdrop-api/build.gradle
  backend/streetdrop-batch/build.gradle
  backend/streetdrop-domain/build.gradle
  backend/streetdrop-domain/src/main/resources/db/migration/V1__init.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20230822__add_search_term_recommend.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20230911__add_banned_word.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20231103__add_index_to_item_like.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20231112__add_active_column_to_search_recommend_term.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20240206__add_distance_to_users_level.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20240207__add_content_column_to_item_claim.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20240305__add_popup_table.sql
  backend/streetdrop-domain/src/main/resources/db/migration/V20240404__add_notification_table.sql
Labels: ♻️refactor

#464 :recycle: refactor(search): change apple music search limit 10 -> 20
  backend/streetdrop-search/src/main/java/com/depromeet/music/service/AppleMusicService.java
Labels: 🔍Search Server

#466 :bug: fix: gradle in notification module does not disappear
  backend/settings.gradle
Labels: 🐛bug, ⚙️config
