Repository depromeet/street-drop-server, pull requests merged in 2024-07, with the labels that each got.

#493 ♻️ refactor(domain): change name announcement -> notice
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/repository/AnnouncementRepository.java
  backend/streetdrop-admin/streetdrop-admin-server/src/main/java/com/depromeet/domains/announcement/service/AnnouncementService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/dto/response/NoticeListResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/dto/response/NoticeResponseDto.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/notice/repository/NoticeRepository.java
  backend/streetdrop-api/src/test/java/unit/domains/notice/controller/NoticeControllerTest.java
  backend/streetdrop-api/src/test/java/unit/domains/notice/service/NoticeServiceTest.java
  backend/streetdrop-domain/src/main/java/com/depromeet/notice/Notice.java
  backend/streetdrop-domain/src/main/resources/db/migration/V20240702__rename_table_announcement_to_notice.sql
Labels: 🥇asap, ♻️refactor

#495 🐛 fix(api, batch, search): korean encoding not working on Safari browser
  backend/streetdrop-api/src/main/resources/application.yml
  backend/streetdrop-batch/src/main/resources/application.yml
  backend/streetdrop-search/src/main/resources/application.yml
Labels: 🐛bug, 🥇asap, 😺 API Server, 🔍Search Server, 🧶Notifiction Server, 🏃🏽Batch Server

#500 :wrench: config: upgrade java 19 -> 21
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.properties
Labels: ⚙️config

#496 :sparkles: feat(api): add user drop item order
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemLikeRepositoryImpl.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/ItemRepositoryImpl.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/QueryDslItemLikeRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/repository/QueryDslItemRepository.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/item/service/ItemLikeService.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/controller/UserItemController.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/dto/request/ItemOrderType.java
  backend/streetdrop-api/src/main/java/com/depromeet/domains/user/service/UserItemService.java
Labels: 🥉d-2, 😺 API Server
